<nav id="myNavbar" class="navbar navbar-inverse navbar navbar-fixed-top" role="navigation">			
			<div class="container" style="width:100%">

				<div class="navbar-header" style="padding-left: 1px">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#"><img class="img-responsive2" src="../../../assets/images/amazon.png"  height="52px" width="52px" style="padding-bottom: 7px"></a>
					 <a class="navbar-brand" href="#" id = "amazon">Amazon</a>
				</div>

			</div><!--Container-->
		</nav> <!--nav-->

<br><br><br>
<br><br><br><br>
<br>


                
